flywheel-gear-toolkit==0.6.6 ; python_full_version >= "3.8.10" and python_version < "4.0"
flywheel-gears==0.2.1 ; python_full_version >= "3.8.10" and python_version < "4.0"
flywheel-sdk==16.10.12 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
fw-meta==2.0.8 ; python_full_version >= "3.8.10" and python_version < "4.0"
fw-utils==4.0.0 ; python_full_version >= "3.8.10" and python_version < "4.0"
jsonschema==3.2.0 ; python_full_version >= "3.8.10" and python_version < "4.0"
numpy==1.23.2 ; python_full_version < "4.0.0" and python_full_version >= "3.8.10"
pandas==1.4.4 ; python_full_version >= "3.8.10" and python_full_version < "4.0.0"
pathvalidate==2.5.2 ; python_full_version >= "3.8.10" and python_version < "4.0"

